:root {
    --dark-gray-color: #484A46;
    --light-gray-color: #787976;
    --white-color: #FFFFFF;
    --light-grey-border-color: #EBE8E8
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    font-family: 'Oxygen', sans-serif;
}


/* nav_bar styling start */


.nav_bar {
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
    align-items: center;
}
.samsung_logo img {
    width: 8rem;
    height: 3rem;
    margin-right: 4rem;
}
.nav_links {
    margin-right: 5rem;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    align-items: center;
}
.nav_links a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 7px;
}
.nav_links a:hover {
    background-color: black;
    color: var(--white-color);
    padding: 7px;
    border-radius: 25px;
    font-size: 14px;
}
.support{
    margin-right: 1rem;
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: space-between;
}
.support a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 7px;
}
.support a:hover {
    background-color: black;
    color: var(--white-color);
    padding: 7px;
    border-radius: 25px;
    font-size: 14px;
}
.icons {
    display: flex;
    gap: 1rem;
}
.icons .search_icon img {
    width: 1.7rem;
    height: 1.7rem;
}
.icons .cart_icon img {
    width: 1.7rem;
    height: 1.7rem;
}
.icons .profile_icon img {
    width: 1.7rem;
    height: 1.7rem;
}


/* nav_bar styling end*/


/* first_advertise_banner start*/


.first_advertise_banner {
    background-image: url(./Resources/Galaxy-AI-is-here.jpg);
    height: 700px;
}
.content {
    position: absolute;
    color: white;
    font-size: 1.5rem;
    margin-top: 300px;
    margin-left: 80px;
}
.content h1 {
    margin-bottom: 15px;
}
.content h3 {
    font-size: 1rem;
    margin-bottom: 50px;
}
.content div {
    display: flex;
    align-items: center;
}
.buttons p {
    font-size: 0.9rem;
    text-decoration: 2px solid underline;
    margin-right: 40px;
}
.buttons button {
    border: none;
    font-size: 14px;
    padding: 10px;
    border-radius: 25px;
    width: 100px;
    font-weight: 600;
}
.buttons button:hover {
    background-color: #C7C7C7;
    cursor: pointer;
}

/* first_advertise_banner end */

/* heading-1 */

.heading-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading-1 .week_highlights p {
    padding: 50px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    text-decoration: none;
}
.heading-1 .menu_bar a {
    margin: 25px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}
.heading-1 .menu_bar a:hover {
    color: #787976;
}
.heading-1 .menu_bar .line a {
    padding-bottom: 7px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
}

/* Multiple Banner */

.multiple_banners {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
}
.small_banners {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Banner-1 */

.small_banners_width {
    width: 48%;
}
.banner-1 {
    background-image: url(./Resources/S24_Series_BigTile.avif);
    height: 680px;
    width: 648px;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    object-fit: contain;
    transition: transform 0.1s ease-in-out;
}
.banner-1:hover {
    transform: scale(1.03);
}
.banner-1 button {
    position: relative;
    background-color: black;
    color: white;
    font-weight: 600;
    width: 100px;
    padding: 9px;
    border-radius: 20px;
    margin-left: 260px;
    margin-top: 620px;
    opacity: 0;
}

/* Banner-2 */

.banner-2 {
    background-image: url(./Resources/S24_Ultra_Small.avif);
    height: 330px;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    object-fit: contain;
    transition: transform 0.1s ease-in-out;
}
.banner-2:hover {
    transform: scale(1.03);
}
.banner-2 button {
    position: absolute;
    background-color: black;
    color: white;
    font-weight: 600;
    width: 100px;
    padding: 9px;
    border-radius: 20px;
    margin-left: 115px;
    margin-top: -40px;
    opacity: 0;
}
.banner-2 .text {
    position: relative;
    display: flex;
    font-weight: 800;
    font-size: 18px;
    flex-direction: column;
    align-items: center;
    margin-left: 11px;
    margin-top: 190px;
}
.text span {
    color: #787976;
    font-size: 10px;
}

/* Banner-3 */

.banner-3 {
    background-image: url(./Resources/EPP_Generic_330x330_Grey_background.avif);
    height: 330px;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    object-fit: contain;
    transition: transform 0.1s ease-in-out;
}
.banner-3:hover{
    transform: scale(1.03);
}
.banner-3 button {

    position: absolute;
    background-color: black;
    color: white;
    font-weight: 600;
    width: 100px;
    padding: 9px;
    border-radius: 20px;
    margin-left: 120px;
    margin-top: 7px;
    opacity: 0;
}
.banner-3 .text {
    position: relative;
    display: flex;
    font-weight: 800;
    font-size: 18px;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-top: 190px;
}
.text p {
    margin-bottom: 20px;
}
.text span {
    color: #787976;
    font-size: 10px;
}

/* Banner-4 */

.banner-4 {
    background-image: url(./Resources/Small_Tile_330x330_8kg_AI_Ecobubble1.avif);
    height: 330px;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    object-fit: contain;
    transition: transform 0.1s ease-in-out;
}
.banner-4:hover {
    transform: scale(1.03);
}
.banner-4 button {
    position: absolute;
    background-color: black;
    color: white;
    font-weight: 600;
    width: 100px;
    padding: 9px;
    border-radius: 20px;
    margin-left: 110px;
    margin-top: 275px;
    opacity: 0;
}
.banner-4 .text {
    position: absolute;
    display: flex;
    font-weight: 800;
    font-size: 18px;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    margin-top: 200px;
}
.text p {
    margin-bottom: 20px;
}
.text span {
    color: #787976;
    font-size: 10px;
}

/* Banner-5 */

.banner-5 {
    background-image: url(./Resources/Small-Tile_330x330-UHD-4K-CUE.avif);
    height: 330px;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    object-fit: contain;
    transition: transform 0.1s ease-in-out;
}
.banner-5:hover {
    transform: scale(1.03);
}
.banner-5 button {
    position: absolute;
    background-color: black;
    color: white;
    font-weight: 600;
    width: 100px;
    padding: 9px;
    border-radius: 20px;
    margin-left: 110px;
    margin-top: 275px;
    opacity: 0;
}
.banner-5 .text {
    position: absolute;
    display: flex;
    font-weight: 800;
    font-size: 18px;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    margin-top: 190px;
}
.text p {
    margin-bottom: 20px;
}
.text span {
    color: #787976;
    font-size: 10px;
}

/* Second Poster */

.second_advertise_banner {
    background-color: #f3f6f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mobile h1 {
    padding: 20px;
    font-size: 38px;
    font-family: 'SamsungSharpSans',arial,sans-serif;
    font-weight: bold;
    line-height: 1.2;
}
.galaxy_mobile_menu{
    padding: 10px;
}
.galaxy_mobile_menu a {
    margin: 25px;
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-weight: 700;
}
.galaxy_mobile_menu a:hover {
    color: #787976;
}
.galaxy_mobile_menu span a {
    padding-bottom: 7px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
}
.galaxy_mobile_menu .image img {
    margin-top: 20px;
    position: absolute;
}
.product_name p {
    margin: 20px;
    font-size: 46px;
    border-bottom: 15px;
    font-weight: bold;
    font-family: 'SamsungSharpSans',arial,sans-serif;
}
.second_advertise_banner .price_offers p {
    font-size: 16px;
    text-align: center;
    background-color: #F4F4F4;
}
.bottom_buttons {
    display: flex;
    align-items: center;
    margin: 20px;
    gap: 20px;
}
.bottom_buttons p {
    padding-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    font-size: small;
}
.bottom_buttons button {
    border: none;
    width: 100px;
    padding: 10px;
    border-radius: 25px;
    background-color: black;
    color: white;
}

/* Third Poster */

.third_advertise_banner {
    background-image: url(./Resources/Qled-4K_1440x8104.jpg);
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.tv h1 {
    margin-top: 20px;
    padding: 20px;
    font-size: 38px;
    font-family: 'SamsungSharpSans',arial,sans-serif;
    font-weight: bold;
}
.tv_menu{
    padding: 10px;
    margin-bottom: 450px;
}
.tv_menu a {
    margin: 25px;
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-weight: 700;
    margin-bottom: 60px;
    padding: 10px;
    width: 100px;
}
.tv_menu a:hover {
    padding: 10px;
    border-radius: 25px;
    background-color: #f3f6f4;
    opacity: 0.3;
    /* color: #787976; */
}
.tv_menu span a {
    padding-bottom: 7px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
}
.product_name p {
    margin: 20px;
    font-size: 46px;
    border-bottom: 15px;
    font-weight: bold;
    font-family: 'SamsungSharpSans',arial,sans-serif;
}
.third_advertise_banner .price_offers p {
    font-size: 16px;
    text-align: center;
}
.bottom_buttons {
    display: flex;
    align-items: center;
    margin: 20px;
    gap: 20px;
}
.bottom_buttons button {
    width: 100px;
    padding: 10px;
    border-radius: 25px;
    background-color: black;
    color: white;
}

/* Fourth Poster */

.fourth_advertise_banner {
    background-image: url(./Resources/12kg-AI-ecobubble-with-AI.jpg);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home_appliances h1 {
    margin-top: 20px;
    padding: 20px;
    font-size: 38px;
    font-family: 'SamsungSharpSans',arial,sans-serif;
    font-weight: bold;
}
.home_appliances_menu{
    padding: 10px;
    margin-bottom: 450px;
}
.home_appliances_menu a {
    margin: 25px;
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-weight: 700;
    margin-bottom: 60px;
    padding: 10px;
    width: 100px;
}
.home_appliances_menu a:hover {
    /* width: 100px; */
    border-radius: 25px;
    background-color: #f3f6f4;
    opacity: 0.3;
}
.home_appliances_menu span a {
    padding-bottom: 7px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
}
.product_name p {
    margin: 20px;
    font-size: 46px;
    border-bottom: 15px;
    font-weight: bold;
    font-family: 'SamsungSharpSans',arial,sans-serif;
}
.fourth_advertise_banner .price_offers p {
    font-size: 16px;
    text-align: center;
}
.bottom_buttons {
    display: flex;
    align-items: center;
    margin: 20px;
    gap: 20px;
}
.bottom_buttons button {
    width: 100px;
    padding: 10px;
    border-radius: 25px;
    background-color: black;
    color: white;
}

/* Recommended Products */

.recommended_products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.recommended_products .cards {
    display: flex;
    flex-direction: row;
}
.heading-2 h1 {
    margin-top: 20px;
    padding: 20px;
    font-size: 38px;
    font-family: 'SamsungSharpSans',arial,sans-serif;
    font-weight: bold;
    margin: 30px;
}
.cards .card {
    background-color: #F7F7F7;
    border-radius: 25px;
    width: 270px;
    height: 622px;
    margin: 10px;
}
.card img {
    padding: 20px;
    margin-top: 20px;
}
.card .new button {
    background-color: #2189FF;
    position: absolute;
    border: none;
    color: white;
    width: 40px;
    height: 20px;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 18px;
}
.card .device_name p {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    margin-bottom: 20px;
}
.watch-6 p {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    /* margin-bottom: 10px; */
}
.card .color p {
    text-align: center;
    font-size: 12px;
    /* margin: 30px; */
}
.card .color span {
    font-weight: bold;
}
.item {
    display: flex;
    justify-content: center;
    /* margin: 20px; */
}
.color_selector-1 {
    margin: 10px;
    width: 18px;
    height: 18px;
    background-color: #ACA49B;
    border-radius: 50%;
    border: 1px solid black;
}
.color_selector-2 {
    margin: 10px;
    width: 18px;
    height: 18px;
    background-color: #4D4E5F;
    border-radius: 50%;
    border: 1px solid black;
}
.color_selector-3 {
    margin: 10px;
    width: 18px;
    height: 18px;
    background-color: #62605F;
    border-radius: 50%;
    border: 1px solid black;
}
.color_selector-4 {
    margin: 10px;
    width: 18px;
    height: 18px;
    background-color: #B2A1CD;
    border-radius: 50%;
    border: 1px solid black;
}
.color_selector-5 {
    margin: 10px;
    width: 18px;
    height: 18px;
    background-color: #F1F0ED;
    border-radius: 50%;
    border: 1px solid black;
}
.color_selector-6 {
    margin: 10px;
    width: 18px;
    height: 18px;
    background-color: #F8F2E2;
    border-radius: 50%;
    border: 1px solid black;
}
.color_selector-7 {
    margin: 10px;
    width: 18px;
    height: 18px;
    background-color: #DAD6CA;
    border-radius: 50%;
    border: 1px solid black;
}
.card .varient {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    gap: 15px;
    margin-bottom: 12px;
}
.card .varient .selected {
    border: 1px solid black;
    padding: 7px;
    border-radius: 25px;
}
.card .deal {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.deal .price p {
    font-size: 18px;
    font-weight: 700;
    margin: 10px;
}
.deal .price_buds p {
    font-size: 18px;
    font-weight: 700;
    margin: 10px;
    margin-top: 70px;
}
.deal .price_watch p {
    font-size: 18px;
    font-weight: 700;
    margin: 10px;
    margin-top: 70px;
}
.deal .price_tab p {
    font-size: 18px;
    font-weight: 700;
    margin: 10px;
    margin-top: 30px;
}
.deal .offers p {
    font-size: 12px;
    /* margin: 10px; */
}
.offers .MRP {
    text-decoration: line-through;
}
.offers .saving {
    color: #2189FF;
}
.offers .EMI_Calculator {
    font-size: 12px;
    color: #2189FF;
    text-decoration: underline;
    margin-bottom: 20px;
}
.button button {
    width: 220px;
    height: 40px;
    border-radius: 25px;
    background-color: black;
    color: white;
    border: none;
    margin: 10px;
}
.cards {
    display: flex;
    align-items: center;
}
.material-symbols-outlined {
    border: 2px solid #F7F7F7;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

/* Explore Section */

.heading-3 h1 {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    font-size: 38px;
    font-family: 'SamsungSharpSans',arial,sans-serif;
    font-weight: bold;
    margin: 30px;
    padding-bottom: 7px;
}
.heading-3 h1:hover {
    color: #787976;
    text-decoration: underline;
    padding-bottom: 7px;
}
.explore {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.explore_banner {
    overflow: hidden;
    position: relative;
    border-radius: 25px;
}
.explore_banner img {
    border-radius: 25px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.1s ease-in-out;
}
.explore_banner img:hover {
    transform: scale(1.07);
    border-radius: 25px;
}
.toggle_section .toggle-1 {
    font-size: 24px;
    font-weight: bold;
    margin: 40px;
    border-top: 2px solid black;
    padding-top: 20px;
}
.toggle-1 span {
    font-size: 16px;
    margin-right: 50px;
    align-items: flex-start;
}
.toggle-1 p {
    margin-bottom: 20px;
}
.toggle_section .toggle {
    font-size: 24px;
    font-weight: bold;
    margin: 40px;
}
.toggle span {
    font-size: 16px;
    margin-right: 50px;
    align-items: flex-start;
}
.toggle-1 .learn_more {
    font-size: 14px;
    padding-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    margin-left: 70px;
}

/* Search Section */

.search_section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading-4 h1 {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    font-size: 38px;
    font-family: 'SamsungSharpSans',arial,sans-serif;
    font-weight: bold;
    margin: 30px;
}
.search_container {
    display: flex;
    flex-direction: row;
    align-content: center;
    border: 2px solid #C7C7C7;
    padding: 7px;
    width: 450px;
    border-radius: 25px;
}
.search_container input {
    border: white;
    margin-left: 10px;
}
.search_container a {
    margin-left: 30px;
}
.search_buttons {
    margin: 20px;
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}
.search_buttons button {
    
    margin: 3px;
    font-size: 12px;
    width: 120px;
    height: 32px;
    border-radius: 25px;
    border: 1px solid;
    background-color: white;
    border-color: #C7C7C7;
}
.search_buttons button:hover {
    background-color: #F2F2F2;
}

/* Description */

.description {
    width: 1248.102px;
    font-size: 11px;
    line-height: 15.96px;
    margin: auto;
    margin-bottom: 30px;
}

.description p {
    padding: 20px 0 0 0;
}

/* Footer */
/* Service Links */

.service_links {
    display: flex;
    font-family: sa;
    flex-direction: row;
    border-top: 1px solid #C7C7C7;
    border-bottom: 1px solid #C7C7C7;
}
.Section {
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    width: 500px;
    padding: 25px;
    /* border-right: 1px solid #C7C7C7; */
    border-left: 1px solid #C7C7C7;
}
.Section h3 {
    padding: 10px;
}
.Section a {
    font-size: 14px;
    margin-bottom: 20px;
    margin: 10px;
    text-decoration: none;
    color: black;
    line-height: 30px;
}
.Section a:hover { 
    text-decoration: underline;
    color: #1428A0;
}
.contact {
    padding: 15px;
    border-bottom: 1px solid #C7C7C7;
}
.contact span {
    color: #2189FF;
    cursor: pointer;
}
.contact p {
    font-size: 12px;
}
.bottom_navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}
.bottom_navigation span {
    padding-right: 20px;
    font-weight: bold;
    font-size: 12px;
    color: black;
    border-right: 1px solid #C7C7C7;
}
.bottom_navigation a {
    color: black;
    margin-left: 20px;
    font-size: 12px;
    text-decoration: none;
}
.social_icons {
    display: flex;
    align-items: center;
}
.social_icons img {
    margin-left: 5px;
    width: 35px;
    height: 35px;
}
.social_icons p {
    font-size: 12px;
}