* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SamsungOne', sans-serif;
    font-family: 'Samsung Sharp Sans', sans-serif;
    color: black;
    text-decoration: none;
    list-style: none;

}

/* Navbar CSS */

:root {
    --dark-gray-color: #484A46;
    --light-gray-color: #787976;
    --white-color: #FFFFFF;
    --light-grey-border-color: #EBE8E8
}

/* * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    } */
body {
    /* border: 2px solid red; */
}

main {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    font-family: 'Oxygen', sans-serif;
}



/* nav_bar styling start */



.nav_bar {
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
    align-items: center;
}

.samsung_logo img {
    width: 8rem;
    height: 3rem;
    margin-right: 4rem;
}

.nav_links {
    margin-right: 5rem;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    align-items: center;
}

.nav_links a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 7px;
}

.nav_links a:hover {
    background-color: black;
    color: var(--white-color);
    padding: 7px;
    border-radius: 25px;
    font-size: 14px;
}

.support {
    margin-right: 1rem;
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: space-between;
}

.support a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 7px;
}

.support a:hover {
    background-color: black;
    color: var(--white-color);
    padding: 7px;
    border-radius: 25px;
    font-size: 14px;
}

.icons {
    display: flex;
    gap: 1rem;
}

.icons .search_icon img {
    width: 1.7rem;
    height: 1.7rem;
}

.icons .cart_icon img {
    width: 1.7rem;
    height: 1.7rem;
}

.icons .profile_icon img {
    width: 1.7rem;
    height: 1.7rem;
}


/* nav_bar styling end*/

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 37px 0 35px;
    height: 20.1719px;
    /* background-color: rgb(130, 57, 57); */
}

.home .home_left h4 {
    text-decoration: none solid rgb(0, 0, 0);
    font-size: 15.1778px;
    font-weight: 700;
    line-height: 20.1864px;
}

.home .home_right ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home .home_right ul li a {
    padding: 10px;
    font-size: 13.2806px;
    font-weight: 700;
    text-decoration: nono solid rgb(0, 0, 0);
    line-height: 17.6631px;

}

.photo_section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
    padding: 25px;

    /* margin: 40px 30px 10px 30px; */
    background-color: #f7f7f7;
    border: 1px solid black;
}

.photo_section .photo_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

}

.photo_section .photo_content div img {
    height: 91.0625px;
    width: 60.7031px;
    min-height: auto;
    min-width: auto;
}

.photo_section .photo_content div img:hover {
    cursor: pointer;
}

.photo_section .photo_content .content {
    /* height: 91.0625px;
    width: 202.984px; */
    /* display: flex;  */
    /* flex-direction:column; */
    /* justify-content: space-between; */

}

.photo_section .photo_content .content h4 {
    padding-bottom: 12px;
    /* padding-bottom: 16px; */
    font-size: 13.2806px;
    font-weight: 900;
    line-height: 17.6631px;
    vertical-align: top;
}

.photo_section .photo_content .content p {
    /* padding-top:7px; */
    font-size: 13px;
}

.down_photo {
    margin-top: 70px;
    margin-bottom: 10px;
    text-align: center;
}

.down_photo .height {
    /* height: 00px; */
    margin-top: 20px;
    margin-bottom: 20px;
    /* border: 1px solid black; */
}




.galaxy {
    position: relative;
    /* height: 175.953px;
        width: 588.125px; */

}

.galaxy .galaxy_right {
    text-align: center;


}

.galaxy .galaxy_left {
    position: absolute;
    top: 35%;
    left: 10%;
    font-size: 25px;
}

.galaxy .galaxy_left h1 {
    padding-bottom: 13px;
    font-size: 45.5333px;
    font-weight: 700;
    line-height: 54.625px;
    width: 588.125px;


}

.galaxy .galaxy_left p {
    padding-bottom: 30px;
    font-weight: 300;
    font-size: 17.075px;
    line-height: 22.7098px;
    height: 22.7031px;
    /* width: 588.125px; */
    margin: 23px 0 0 0;
}

.galaxy .galaxy_left .gl {
    display: flex;
    align-items: center;
    justify-content: left;
}

.galaxy .galaxy_left .gl p {
    padding: 0 10px 0 10px;
    font-size: 13.2806px;
    font-weight: 700;
    line-height: 18.023px;
    /* height: 37.9219px; */
    /* width: 67.0625px; */
    text-decoration: none solid rgb(0, 0, 0);
}

.galaxy .galaxy_left .gl .buynow_button {
    border: 0.5px solid black;
    background: #000;
    color: white;
    font-size: 13.2806px;
    font-weight: 700;
    line-height: 18.023px;
    text-decoration: none solid rgb(255, 255, 255);
    vertical-align: middle;
    white-space: nowrap;
    height: 37.9219px;
    width: 95.4375px;
    text-align: center;
    margin: 10px 0 0 19px;
    padding: 9px 23px 10px 19px;
    border-radius: 18.9722px;
}

.card_head_text {
    height: 23.941px;
    width: 303.021px;
    font-size: 18px;
    font-weight: 700;
    line-height: 23.94px;

}

.card_text {
    font-size: 14px;
    line-height: 18.62px;
    height: 18.5938px;
    width: 303.021px;
    margin: 10px 0 10px 0;
}

.card_text_3 {
    font-size: 14px;
    line-height: 18.62px;
    height: 18.5938px;
    width: 303.021px;
    margin: 10px 0 10px 55px;
    /* margin-left: 55px */
}

.card-body {
    background-color: #f4f4f4;
}

.bnt_learn {
    /* text-underline-offset: 0.7em */
    text-align: center;
    padding-bottom: 5px;
    margin-left: 103px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
    width: fit-content;
}

.bnt_learn_3 {
    text-align: center;
    padding-bottom: 5px;
    margin-left: 103px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
    width: fit-content;
}

.galaxy2 {
    margin-top: 45px;
    margin-bottom: 40px;
    position: relative;
    /* height: 175.953px;
    width: 588.125px; */

}

.galaxy2 .galaxy2_right {
    text-align: center;


}

.galaxy2 .galaxy2_left {
    position: absolute;
    top: 20%;
    left: 10%;
    font-size: 25px;
}

.galaxy2 .galaxy2_left h1 {
    padding-bottom: 13px;
    font-size: 45.5333px;
    font-weight: 700;
    line-height: 54.625px;
    width: 588.125px;


}

.galaxy2 .galaxy2_left p {
    padding-bottom: 30px;
    font-weight: 300;
    font-size: 17.075px;
    line-height: 22.7098px;
    height: 22.7031px;
    /* width: 588.125px; */
    margin: 23px 0 0 0;
}

.galaxy2 .galaxy2_left .gl {
    display: flex;
    align-items: center;
    justify-content: left;
}

.galaxy2 .galaxy2_left .gl p {
    padding: 0 10px 0 10px;
    font-size: 13.2806px;
    font-weight: 700;
    line-height: 18.023px;
    /* height: 37.9219px; */
    /* width: 67.0625px; */
    text-decoration: none solid rgb(0, 0, 0);
}

.galaxy2 .galaxy2_left .gl .buynow_button {
    border: 0.5px solid black;
    background: #000;
    color: white;
    font-size: 13.2806px;
    font-weight: 700;
    line-height: 18.023px;
    text-decoration: none solid rgb(255, 255, 255);
    vertical-align: middle;
    white-space: nowrap;
    height: 37.9219px;
    width: 95.4375px;
    text-align: center;
    margin: 10px 0 0 19px;
    padding: 9px 23px 10px 19px;
    border-radius: 18.9722px;
}



.galaxy3 {
    margin-top: 45px;
    margin-bottom: 40px;
    position: relative;
    /* height: 175.953px;
    width: 588.125px; */

}

.galaxy3 .galaxy3_right {
    text-align: center;


}

.galaxy3 .galaxy3_left {
    position: absolute;
    top: 15%;
    left: 50%;
    font-size: 25px;
}

.galaxy3 .galaxy3_left h1 {
    color: white;
    padding-bottom: 13px;
    font-size: 45.5333px;
    font-weight: 700;
    line-height: 54.625px;
    width: 588.125px;


}

.galaxy3 .galaxy3_left p {
    padding-bottom: 30px;
    font-weight: 300;
    font-size: 17.075px;
    line-height: 22.7098px;
    height: 22.7031px;
    color: white;
    /* width: 588.125px; */
    margin: 23px 0 0 0;
}

.galaxy3 .galaxy3_left .gl {
    display: flex;
    align-items: center;
    justify-content: left;
}

.galaxy3 .galaxy3_left .gl p {
    padding: 0 10px 0 10px;
    font-size: 13.2806px;
    font-weight: 700;
    line-height: 18.023px;
    /* height: 37.9219px; */
    /* width: 67.0625px; */
    text-decoration: none solid rgb(0, 0, 0);
}

.galaxy3 .galaxy3_left .gl .buynow_button {
    border: 0.5px solid black;
    background: white;
    color: black;
    font-size: 13.2806px;
    font-weight: 700;
    line-height: 18.023px;
    text-decoration: none solid rgb(255, 255, 255);
    vertical-align: middle;
    white-space: nowrap;
    height: 39.9826px;
    width: 118.681px;
    text-align: center;
    margin: 10px 0 0 19px;
    padding: 10px 24px 11px 24px;
    border-radius: 18.9722px;
}

.galaxy2 .galaxy2_left .gl .buynow_button_style {
    border: 0.5px solid black;
    background: black;
    color: white;
    font-size: 13.2806px;
    font-weight: 700;
    line-height: 18.023px;
    text-decoration: none solid rgb(255, 255, 255);
    vertical-align: middle;
    white-space: nowrap;
    height: 39.9826px;
    width: 118.681px;
    text-align: center;
    margin: 10px 0 0 19px;
    padding: 10px 24px 11px 24px;
    border-radius: 18.9722px;
}

.last {
    margin: 107px 70px;
    /* margin: auto; */
    /* background: red; */
    /* border: 2px solid red; */
    /* display: flex; */
    height: 671.609px;
    width: 1343.22px;

}

.last h1 {
    text-align: center;
    font-size: 45.533px;
    font-weight: 700;
    padding-left: 100px;
    width: 1303.47px;
    height: 56.9026px;
    line-height: 56.9167px;

}

/* .last .last_left{
   
} */

.last .last_left .left {
    height: 353.993px;
    width: 353.993px;
    padding: 0 24px 24px 0;
    background: #f4f4f4;
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid white;
    border-radius: 20px;
}

.last .last_left .left img {
    height: 160px;
    width: 160px;

}

.last .last_left .left h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 23.94px;
    height: 23.941px;
    width: 297.986px;
    padding: 20px 0 0 80px;
}

.last .last_left .right {
    height: 353.993px;
    width: 353.993px;
    padding: 0 24px 24px 0;
    background: #f4f4f4;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 20px; */
    border: 1px solid white;
    border-radius: 20px;
}

.last .last_left .right img {
    height: 160px;
    width: 160px;

}

.last .last_left .right h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 23.94px;
    height: 23.941px;
    width: 297.986px;
    padding: 20px 0 0 80px;
}

/*  */


.last .last_right .left {
    height: 353.993px;
    width: 353.993px;
    padding: 0 24px 24px 0;
    background: #f4f4f4;
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid white;
    border-radius: 20px;
}

.last .last_right .left img {
    height: 160px;
    width: 160px;

}

.last .last_right .left h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 23.94px;
    height: 23.941px;
    width: 297.986px;
    padding: 20px 0 0 80px;
}

.last .last_right .right {
    height: 353.993px;
    width: 353.993px;
    padding: 0 24px 24px 0;
    background: #f4f4f4;
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 20px; */
    border: 1px solid white;
    border-radius: 20px;
}

.last .last_right .right img {
    height: 160px;
    width: 160px;

}

.last .last_right .right h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 23.94px;
    height: 23.941px;
    width: 297.986px;
    padding: 20px 0 0 80px;
}

.last .last_middle .middle {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    height: 745.993px;
    flex-direction: column;
    background-color: #f4f4f4;
    width: 683.993px;
    border: 1px solid white;
    border-radius: 20px;
    position: relative;
}

.last .last_middle .middle img {
    position: absolute;
    width: 680px;
    height: 715px;
    border-radius: 20px;

}

.last .last_middle .middle h3 {
    position: absolute;
    top: 9%;
    left: 38%;
    /* top: 10%; */
    z-index: 1;
    padding: 10px 0 10px 0;
}

.upgrade {
    margin: 200px 150px 50px 150px;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.upgrade .head {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    height: 60px;
    width: 1392.01px;
}

.upgrade .list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.upgrade .list .list_items {
    text-align: center;
    margin: 8px;
    height: 306.997px;
    /* width:256.516px; */
    border-radius: 20px;
    width: 298.49px;
    /* border: 1px solid black; */
    /* height: /; */
}

.upgrade .list .list_items img {
    height: 123.889px;
    width: 286.51px;
}

.item1 {
    background-color: #f5f7fe;
}

.item2 {
    background-color: #fef6f3;
}

.item3 {
    background-color: #f6f0f5;
}

.item4 {
    background-color: #f7f5f2;
}

.upgrade .item_btn {
    text-align: left;
    padding: 60px 0px 0 20px;
}


.upgrade .list .list_items .item_btn span {
    padding: 2px
}

.text {
    height: 1265.92px;
    width: 1248.102px;
    /* border: 1px solid red; */
    font-size: 12px;
    line-height: 15.96px;
    margin: auto;
}

.text p {
    padding: 1px 0 0 0;
}

/* .col{
    border: 2px solid blue;
} */

/* Footer */
/* Service Links */

.service_links {
    display: flex;
    font-family: sa;
    flex-direction: row;
    border-top: 1px solid #C7C7C7;
    border-bottom: 1px solid #C7C7C7;
}

.Section {
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    width: 500px;
    padding: 25px;
    /* border-right: 1px solid #C7C7C7; */
    border-left: 1px solid #C7C7C7;
}

.Section h3 {
    padding: 10px;
}

.Section a {
    font-size: 14px;
    margin-bottom: 20px;
    margin: 10px;
    text-decoration: none;
    color: black;
    line-height: 30px;
}

.Section a:hover {
    text-decoration: underline;
    color: #1428A0;
}

.contact {
    padding: 15px;
    border-bottom: 1px solid #C7C7C7;
}

.contact span {
    color: #2189FF;
    cursor: pointer;
}

.contact p {
    font-size: 12px;
}

.bottom_navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

.bottom_navigation span {
    padding-right: 20px;
    font-weight: bold;
    font-size: 12px;
    color: black;
    border-right: 1px solid #C7C7C7;
}

.bottom_navigation a {
    color: black;
    margin-left: 20px;
    font-size: 12px;
    text-decoration: none;
}

.social_icons {
    display: flex;
    align-items: center;
}

.social_icons img {
    margin-left: 5px;
    width: 35px;
    height: 35px;
}

.social_icons p {
    font-size: 12px;
}