:root {
    --dark-gray-color: #484A46;
    --light-gray-color: #787976;
    --white-color: #FFFFFF;
    --light-grey-border-color: #EBE8E8
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    font-family: 'Oxygen', sans-serif;
}

/* nav_bar styling start */

.nav_bar {
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
    align-items: center;
}

.samsung_logo img {
    width: 8rem;
    height: 3rem;
    margin-right: 4rem;
}

.nav_links {
    margin-right: 5rem;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    align-items: center;
}

.nav_links a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 7px;
}

.nav_links a:hover {
    background-color: black;
    color: var(--white-color);
    padding: 7px;
    border-radius: 25px;
    font-size: 14px;
}

.support {
    margin-right: 1rem;
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: space-between;
}

.support a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 7px;
}

.support a:hover {
    background-color: black;
    color: var(--white-color);
    padding: 7px;
    border-radius: 25px;
    font-size: 14px;
}

.icons {
    display: flex;
    gap: 1rem;
}

.icons .search_icon img {
    width: 1.7rem;
    height: 1.7rem;
}

.icons .cart_icon img {
    width: 1.7rem;
    height: 1.7rem;
}

.icons .profile_icon img {
    width: 1.7rem;
    height: 1.7rem;
}


/* nav_bar styling end*/

/* This section shows group discount and saving */

.main-container-group-discount {
    padding: 20px;
    margin: 20px;
}

.heading-group-discount {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.card-item-group-discount {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-heading-group-discount {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: left;
    justify-content: start;
    z-index: -1;
}

.card-image-group-discount {
    z-index: -3;
}



.card-button-discount {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: left;
    justify-content: start;
}

/* This section ends here */


/* This section shows reward and support */

.content-reward {
    margin: 20px;
    padding: 20px;
    display: inline-block;
    position: relative;
}

.heading-reward {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-item-reward {
    display: flex;
    width: 300px; 
    height: 180px; 
    background-color: #FFFFFF; 
    border: 1px solid black; 
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.card-heading-reward-left{
    justify-content: start;
    align-items: start;
}

.card-heading-section-reward {
    display: flex;
    justify-content: end;
    
}

.card-heading-reward-right {
    justify-content: end;
    align-items: end;
}

.card-heading-reward-right {
    height: 40px;
    width: 40px;
}

/* This section ends here */

/* This section contains bottom banner */

.content-bottom-banner {
    position: relative;
    display: inline-block;
    margin: 20px;
    padding: 20px;
}

.bottom-banner-img {
    display: block;
    max-width: 100%;
    height: auto;
}

.content-bottom-banner-written {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: left;
    justify-content: start;
}

.button-bottom-banner {
    border-radius: 10px;
    height: auto;
    width: auto;
    color:white;
    background-color: black;
    padding: 5px;
    margin: 5px;
}

/* This section ends here */

/* This section contains content written */

.content-written {
    background-color: #FFFFFF;
    padding: 20px;
    margin: 20px;
}

.paragraph-content-written {
    margin: 15px;
    font-size: 20px;
}

.content-written-list {
    padding-left: 0;
    margin-left: 20px;

}

/* This section ends here */



/* This section contains bottom terms */

.content-bottom-terms {
    margin: 20px;
    padding: 60px;
    background-color: #F7F7F7;
    font-size: 14px;
    justify-content: left;
    align-items: start;

}
/* This section ends here */



/* Footer */
/* Service Links */

.service_links {
    display: flex;
    font-family: sa;
    flex-direction: row;
    border-top: 1px solid #C7C7C7;
    border-bottom: 1px solid #C7C7C7;
}
.Section {
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    width: 31.25rem;
    padding: 1.563rem;
    /* border-right: 1px solid #C7C7C7; */
    border-left: 1px solid #C7C7C7;
}
.Section h3 {
    padding: 0.625rem;
}
.Section a {
    font-size: 0.875rem;
    margin-bottom: 1.25rem;
    margin: 0.625rem;
    text-decoration: none;
    color: black;
    line-height: 1.875rem;
}
.Section a:hover { 
    text-decoration: underline;
    color: #1428A0;
}
.contact {
    padding: 0.938rem;
    border-bottom: 1px solid #C7C7C7;
}
.contact span {
    color: #2189FF;
    cursor: pointer;
}
.contact p {
    font-size: 0.75rem;
}
.bottom_navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.938rem;
}
.bottom_navigation span {
    padding-right: 1.25rem;
    font-weight: bold;
    font-size: 0.75rem;
    color: black;
    border-right: 1px solid #C7C7C7;
}
.bottom_navigation a {
    color: black;
    margin-left: 1.25rem;
    font-size: 0.75rem;
    text-decoration: none;
}
.social_icons {
    display: flex;
    align-items: center;
}
.social_icons img {
    margin-left: 0.313rem;
    width: 2.188rem;
    height: 2.188rem;
}
.social_icons p {
    font-size: 0.75rem;
}

/* Ends here */